<footer>
    <div>
        <div class="contentRedes" style="display: flex; justify-content: space-evenly;">
            <div>
               <a href="https://es-la.facebook.com/" target="_blank"><img src="../../../assets/img/Group 4 (1).png" alt=""></a> 
            </div>
            <div>
              <a href="https://www.instagram.com/?hl=es" target="_blank"><img src="../../../assets/img/Group 5 (1).png" alt=""></a>  
            </div>
            <div>
               <a href="https://workspace.google.com/intl/es-419/products/gmail/?utm_source=google&utm_medium=cpc&utm_campaign=latam-AR-all-es-dr-skws-all-all-trial-e-dr-1009897-LUAC0011865&utm_content=text-ad-none-any-DEV_c-CRE_471087538708-ADGP_Hybrid%20%7C%20BKWS%20-%20MIX%20%7C%20Txt%20~%20Gmail-KWID_43700057701729742-kwd-329871267&utm_term=KW_gmail-ST_gmail&gclid=Cj0KCQiAhf2MBhDNARIsAKXU5GTOCUx1Y3MVaS2VoWZAg3CgHdpM_BGlapUtJwaUannuzXHsfdqxYToaAmKHEALw_wcB&gclsrc=aw.ds" target="_blank"><img src="../../../assets/img/Group 6 (1).png" alt=""></a> 
            </div>
            <div>
               <a href="https://twitter.com/?lang=es" target="_blank"><img src="../../../assets/img/Group 7 (1).png" alt=""></a> 
            </div>
            
       </div>
    </div>
</footer>
