.navbar-brand{
  img{
    width: 60px;
  }
}
.navbar{
  background-color: #021e29 !important;
  
}
.navbar-nav{
  a{
    color: whitesmoke !important;
    
  }
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #3FD3E1;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media (min-width:700px){
  
  .navbar-nav{
    a{
      font-family: 'Syncopate';
    }
  }
  
    
}   
  