<section class="animate__animated animate__fadeIn">
    <div class="imgFormLogo">
        <img src="../../../assets/img/Todoit.png" alt="">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formuLogin">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input name="email" matInput formControlName="email" placeholder="pat@example.com" id="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" type="password" name="password" formControlName="password"
                matInput id="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button [disabled]="loginForm.invalid" mat-raised-button color="primary" class="btnIniciar" type="submit">INICIAR SESION</button>
        <a [routerLink]="['/registro']">¿No tienes cuenta? Haz clic aquí</a>
    </form>
</section>
