
form{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    
}
   
.imgFormLogo {
    img{
        width: 12.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
        
} 
    

button{
    width: 250px;
    margin-bottom: 10px;  
}
   
.mat-form-field-appearance-fill{
    width: 250px;
}
    
section{
    animation:fadeIn;
    animation-duration: 2s;
    height: calc(76.5vh);
   
}
a{
    margin-left: 20px;
    text-decoration: none;
}



@media (min-width:700px){
   
    section{
        height: calc(110vh - 60px - 60px);
    }  
    .imgFormLogo {
        img{
            
            margin-top: 0px;
        }
            
    } 
    a{
        margin-left: 20px;
        
      
    }
   
}   
