

<main class="animate__animated animate__fadeIn">
    
    <div class="ContentBtn">
        <h3 class="nombre">{{usuarioNombre}}</h3>
        <button routerLink="/solicitar" mat-raised-button color="primary" class="buttom" >SOLICITAR VIAJE</button>
        <button routerLink="/estado" mat-raised-button color="primary" class="buttom" >ESTADO  VIAJE</button>
        <button routerLink="/historial" mat-raised-button color="primary" class="buttom" >HISTORIAL</button>
    </div>
    
    <div class="imgFondoGif" >
        <img class="ll" src="../../../assets/img/giphy (3).gif" width="360px" alt="">
    </div>
    
    <div class="imgFondo" >
        <img class="fondo" src="../../../assets/img/fondoNet.png" alt="">
    </div>
    
    <div class="fondoDesk">
        <img  src="../../../assets/img/fondo10.png" >
    </div>
    
  
</main>
