
<section class="contentTable">
  <h3>Estado de Viajes</h3>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div *ngIf="isloading" class="content-loading">
 <img src="../../../assets/img/Chunk-4s-200px (1).gif" alt="" width="60px">
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!-- Fecha Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element" class="colum"> {{element.travelEquipmentDTOs[0].operationDate | date:'M/d/Y'}} </td>
  </ng-container>

  <!-- Marca Column -->
  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
  </ng-container>

  <!-- Modelo Column -->
  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- estado equipo Column -->
  <ng-container matColumnDef="estadoEqui">
    <th mat-header-cell *matHeaderCellDef> Estado Equipo </th>
    <td mat-cell *matCellDef="let element" > {{descripEstEquip(element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel)}} </td>
  </ng-container>
  <!-- estado envio Column -->
  <ng-container matColumnDef="EstadoEnvio">
    <th mat-header-cell *matHeaderCellDef> Estado Envio </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'pendiente':element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==1||element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==2||element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==4||
    element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==7,'curso':element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==3||element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==8,'reparado':element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==5,
  'entregado':element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==9 ||element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel==6 }"> {{descripEstate(element.travelEquipmentDTOs[element.travelEquipmentDTOs.length-1].statusTravel)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select"
                 [pageSize]="5"
                 >
</mat-paginator>
</section>

